@page
@using RequestsKeeper.Model
@model RequestsKeeper.Pages.CreateGroupRequestModel
@{
    ViewData["Title"] = "Заявка на групповое посещение";
}
<style>
    .font
    {
        font-size:xx-large
    }
    .font-small
    {
        font-size:xx-small;
    }
    .fontgrey
    {
        color: dimgrey;
    }
    .indent
    {
        position:relative;
        left:20%;
        top: 30%;
    }
</style>

<img src="Images/Visitor.png" width="100" height="100"/>
<label class="position-absolute font">RequestKeeper</label>
<form method="post" enctype="multipart/form-data" id="formPost">
<div class="container text-center">
    <h3>Форма записи на посещение мероприятия</h3>
  <div class="row">
    <div class="col-5">
      <div class="card">
          <div class="card-header bg-warning">Информация для пропуска</div>
          <div class="card-body bg-light">
            <div class="row">
                <div class="col">Срок действия заявки</div>
            </div>
            <div class="row">
                <div class="col">с*
                    <input asp-for="@Model.Request.StartDate" class="col-md-10" type="date"/>
                </div>
                <div class="col">по
                    <input asp-for="@Model.Request.FinishDate" class="col-md-10" type="date"/>
                </div>
            </div>
            <div class="col">Цель посещения:</div>
            <div class="row">
                <input asp-for="@Model.Request.TargetVisit" type="text"/>
            </div>
          </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card">
        <div class="card-header bg-warning">Принимающая сторона</div>
          <div class="card-body bg-light">
            <div class="row">
                <div class="row">Подразделение*</div>
            </div>
            <div class="row">
                <select class="combobox" onchange="changeSubvision()" asp-for="@Model.SubDivisionId" asp-items="@Model.SubDivisionList"></select>
            </div>
            <div class="row">ФИО*</div>
            <div class="row">
                <select class="combobox" asp-for="@Model.WorkerId" asp-items="@Model.WorkerList"></select>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-9">
        
      <div class="card">
  <div class="card-header bg-warning">Информация о посетителе</div>
  <div class="card-body bg-light">
      <div class="row">
          <div class="col-5">
              <div class="row mb-1">
                  <div class="col-4">
                      <label class="form-label">Фамилия*:</label>
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Surname" class="form-control" type="text" />
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Имя*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Name" class="form-control" type="text" />
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Отчество:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Patronymic" class="form-control" type="text" />
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Телефон:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.PhoneNumber" class="form-control" type="text" />
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Email*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Email" class="form-control" type="text" />
                  </div>
              </div>

          </div>

          <div class="col-5">
              <div class="row mb-1">
                  <div class="col-4">
                      Организация:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Organisation" class="form-control" type="text"/>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Примечание*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.Note" class="form-control" type="text"/>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Дата рождения*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.DoB" type="date" class="form-control"/>
                  </div>
              </div>

              <div class="row mb-1">
                  <div class="col-4">
                      Серия*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.PassportSeries" class="form-control" type="text"/>
                  </div>
              </div>

              <div class="row mb-1" >
                  <div class="col-4">
                      Номер*:
                  </div>
                  <div class="col-8">
                      <input asp-for="@Model.Visitor.PassportNumber" class="form-control" type="text"/>
                  </div>
              </div>
              <input class="btn fontgrey small" type="submit" value="Добавить пользователя"/>
          </div>

          
      </div>
    
  </div>
</div>

  </div>
  <div class="col-3">
      <div class="card">
          <div class="card-header bg-warning">
              <label>Список посетителей</label>
          </div>
          <div class="card-body font-small">
              <table class="table">
                  <thead>
                      <tr>
                      <th>№</th>
                      <th>ФИО</th>
                      <th>Контакты</th>
                      <th>Фотография</th>
                      </tr>
                  </thead>
                  <tbody>
                      @foreach (Visitor visitor in @Model.Visitors)
                      {
                      <tr>
                        <th scope="row">@visitor.Id</th>
                        <td>@visitor.Surname</td>
                        <td>@visitor.Email</td>
                        <td>@visitor.Photo</td>
                      </tr>
                      } 
                  </tbody>
          </table>
          </div>
      </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <div class="card">
  <div class="card-header bg-warning">Прикрепляемые документы</div>
  <div class="card-body bg-light">
      
    <input class="btn fontgrey" type="file" name="uploadfile" value="ПРИКРЕПИТЬ ФАЙЛ"/>
   
  </div>
</div>
    </div>
    
    <div class="col-4">
      <div class="card-body">
        <input class="btn fontgrey" type="submit" value="Очистить форму"/>
        <input type="submit" class="btn btn-outline-warning" name="filldata" value="Оформить заявку"/>
      </div>
      <label>@Model.Message</label>
    </div>
  </div>
    
</div>
</div>
</form>
<script>
function changeSubvision() {
    document.querySelector('#formPost').submit();
}
</script>
